@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9f4fb+0,e9f4fb+50,75b3d8+100 */
    /*background: #f1f1f1; /* Old browsers */
    /*background: -moz-linear-gradient(top, #e9f4fb 0%, #e9f4fb 50%, #8da2be 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #e9f4fb 0%,#e9f4fb 50%,#8da2be 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, #e9f4fb 0%,#e9f4fb 50%,#8da2be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f4fb', endColorstr='#75b3d8',GradientType=0 ); /* IE6-9 */
    /*background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/

    color:#676868;
    font-family: 'Open Sans', sans-serif;
}

/* generales */
    .contenido-principal {
        max-width: 85%;
        margin:0 auto;
        background-color:#FFF;
        padding:25px;
        padding-top:85px;
        padding-bottom:385px;
        box-shadow:0px 0px 7px rgba(0,0,0,0.2);
        
    }
        .contenido-principal .column ul {
            list-style:initial;
            padding-left: 2rem;
        }
    .wrapper {
        margin: 0px 0 0px;
        background-color:#f2f2f2;
    }
    h1 {
        font-size: 4rem !important;
        margin-bottom: 4rem !important;
    }

    h2 {
    font-size: 3rem !important;
    font-style:italic;
    margin-bottom: 3rem;
    }
    h3 {
        font-size: 2.2rem !important;
        letter-spacing: normal !important;
        margin-bottom: 4rem;
        font-weight: bold;
        color: #4e6280;
    }
        h3 span {
            color: #4e6280;
            font-weight: bold;
        }
    h4 {
        font-size: 1.8rem !important;
        letter-spacing: normal !important;
        font-weight: bold;
        color: #4e6280;
        font-style: italic;
    }
    h1 span {
        color:#5182a3;
    }
    .link {
        color:#4e6280 !important;
        font-weight: bold;
        text-decoration: underline;
        word-break:break-all;
        font-style: italic;

    }
    .link:hover {
        color:#d0b895 !important;
    }

	.linkpop {
        color:#5182a3 !important;
        font-weight: bold;
        text-decoration: underline;
        word-break:break-all;

    }
    .linkpop:hover {
        color:#5182a3 !important;
    }

	.link2 {
        color:#FFFFFF !important;
        font-weight: bold;
        word-break:break-all;

    }
    .link2:hover {
        color:#5182a3 !important;
    }

a {
    word-wrap: break-word;
}




/* contenido */
    .icono-link {
        display: inline-block;
        vertical-align: middle;
        width:8%!important;
    }

    .etiqueta-recurso img{
        width:3%!important;
    }

    .inactivo {
        color:#898D8D;
    }
    .imagen {
        display: block;
        margin:0 auto;
    }
    .bando {
        margin-left: 4rem;
    }
    .lista-doble {
        list-style: none !important;
        margin-left: 4rem;
        padding-left: 0 !important;
    }
        .lista-doble li {
            margin-bottom: 2rem;
        }
        .lista-doble p {
            margin-bottom: 0;
        }
    .lista-bando {
        list-style: none !important;
        margin-left: 2rem;
    }
    .lista-sin-bando p {
        margin-bottom: 0;
    }
        .lista-sin-bando p:last-child {
            margin-bottom: 2.5rem;
        }
    .tabla-aritmetica {
        margin-bottom: 6rem;
    }
        .tabla-aritmetica p {
            margin:0;
        }

    .codigo p {
        margin-bottom: 1rem;
    }
    .codigo p:last-child {
        margin-bottom: 2rem;
    }

    /* ajuste de footer y marginador */
    .paginador-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    html {
        min-height: 100%;
        position:relative;
    }
    /*ajuste de margen en menú */
    .menu-principal {
        padding: 0 !important;
    }
        .pestania-inactiva {
            color: #5182a3 !important;
        }
        .unidad-activa {
            background-color: #c0e9fc;
        }
        .unidad-activa a {
            color:#4e6280 !important;
            font-weight: bold;
        }
    /* menu de accesibilidad */
    .menu-accesibilidad {
        font-size: 2rem;
    }
    /* logitipos de encabezado */
    .logotipos {
        max-width: 560px;
        margin:0 auto;
    }

    /* Título de la asignatura*/
    .asignatura{
    	font-size:2em;
    }



/* objetivo */
    .objetivo {
        background-color: #e7e7e7;
        padding: 3rem 2rem 2rem;
        margin: 2rem 0 4rem;
        border-radius: .5rem;
        justify-content: center;
        display: flex;
        align-items: center;
    }
        .objetivo p {
            margin-bottom: 0;
        }
 /* bienvenida */
    .bienvenida {
        text-align: center;
        color:#4e6280;
        font-size: 2.5rem;
        font-weight:normal;
        margin-top:50px;
    }

figcaption {
        font-size: 1.3rem;
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }
/* furmulas*/
.formulas {
    text-align: center;
}

.tabla{
    width:75%;
    margin:15px auto;
    margin-top:50px;
    border:1px solid #4e6280;
    padding:15px;
}

.tabla td{
    text-align:center;
}

.tituloTabla{
    background-color:#4e6280;
    font-weight:bold;
    color:#fff; 
}

.tituloTabla td{
    text-align:center;
}
 blockquote{
    border-left:0px;
    border-right:7px solid #d0b895;
    margin-bottom:60px;
    line-height: 25px;

  }
   .autor{
    font-size:80%;
    color:#4e6280;
  }
  .autor::before{
    content:"\2014\00A0";
  }
.panel1{
    width:75%;
    padding:32px;
    background-color:#5182a3;
    margin:50px auto;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
  }

  .panel1 p{
    color:#fff;
  }

  .tituloPanel{
    font-size:1.7em;
    text-align:center;
    color:#000;
    margin-top:-25px;
    margin-bottom:-15px;
  }

  .panelDivisor{
    border:0px;
    height:1px;
    background-color:#fff;
    opacity:.6;
  }

/* acordion 1 */
  .accordion1 .panel-title {
    text-align: left;
    letter-spacing: normal;
    color:#5182a3;
  }
  .accordion1 .panel-title a {
    display: block;
    padding:2rem;
  }
  .accordion1 .panel-heading {
    padding:0;
  }
  .accordion1 .panel-title:hover {
    background-color:#e7e7e7;
    color: #1f2427;
    cursor: pointer;
  }
  .accordion1 .panel-body p {
    text-align: left;
  }
  .accordion1 .panel-body {
    padding: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    .accordion1 .panel-body {
      padding: 5rem;
    }
  }

/* recurso de pestañas */
  .pestanas .container {
    padding:0;
    box-shadow: none;
    width: 100%;
  }
  .nav-tabs a {
	  color:#1f2427;
	  background-color: #e7e7e7;
  }
  .nav-tabs>li.active>a {
    background-color: #1f2427 !important;
    color: #fff !important;
  }
  .pestanas .tab-pane {
    padding: 1.5rem;
  }

  .tab-content .tab-title {
    letter-spacing: normal;
    font-style: italic;
    text-align: left;
  }
  .tab-content .tab-pane {
    width: 100%;
  }
  .tab-content .tab-pane p {
    text-align: left;
  }

  @media screen and (min-width: 768px) {
    .pestanas .tab-pane {
      padding:5rem;
    }
  }




/* sombra para los recursos */
  .sombra {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }


 /* acordion 1 */
  .accordion1 .panel-title {
    text-align: left;
    letter-spacing: normal;
    color:#5182a3;
  }
  .accordion1 .panel-title a {
    display: block;
    padding:2rem;
  }
  .accordion1 .panel-heading {
    padding:0;
  }
  .accordion1 .panel-title:hover {
    background-color:#e7e7e7;
    color: #5182a3;
    cursor: pointer;
    /*text-decoration-color: #fff;*/
  }
  .accordion1 .panel-body p {
    text-align: left;
  }
  .accordion1 .panel-body {
    padding: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    .accordion1 .panel-body {
      padding: 5rem;
    }
  }

/* etiqueta para recursos */
    .etiqueta-recurso {
        padding: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        border-bottom: solid 1px #ccc;
        color:#676868 !important;
        font-weight: bold !important;
    }
        .etiqueta-recurso .icono-link {
            margin-right: 1rem;
        }


/* ejemplo */
    .ejemplo {
        border:solid 2px #5182a3;
        padding: 3rem;
        margin:5rem auto;
        color: #474747;
        background-color: #f5f5f5;
        border-radius: 0px 15px 0px 15px;
        -moz-border-radius: 0px 15px 0px 15px;
        -webkit-border-radius: 0px 15px 0px 15px;
    }
        .ejemplo p:last-child {
            margin-bottom: 0 !important;
        }

.cuadro-resaltado {
        border:solid 2px #5182a3;
        padding: 3rem;
        margin:5rem auto;
        border-radius: 0px 15px 0px 15px;
        -moz-border-radius: 0px 15px 0px 15px;
        -webkit-border-radius: 0px 15px 0px 15px;
    }
        .cuadro-resaltado p:last-child {
            margin-bottom: 0 !important;
        }

/* Recomendacion */
    .Recomendacion {
        border:solid 2px #e7e7e7;
        padding: 3rem;
        margin:5rem auto;
        color: #474747;
        background-color: #f5f5f5;
        border-radius: 0px 15px 0px 15px;
        -moz-border-radius: 0px 15px 0px 15px;
        -webkit-border-radius: 0px 15px 0px 15px;
    }
        .Recomendacion p:last-child {
            margin-bottom: 0 !important;
        }
    


/* plantilla */
header{
    height: 200px;
    background: url(../images/header4.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header div:nth-child(1){
    background: rgba(255, 255, 255, 0.3);
    padding-bottom: 2px;
    text-align: center;
    padding-top: 2px;
}
header div:nth-child(1) ul{
    display: inline-block;
    margin-bottom: 0;
}
header div:nth-child(1) ul:last-child{
    margin-right: 20px;
    border-left: 1px solid #5182a3;
    margin-left: 10px;
    padding-left: 10px;
}
header div ul > li{
    list-style-type: none;
    display: inline-block;
    margin: 4px 6px;
}
header div ul li a{
    color: #4e6280;
}
header div ul li a:hover{
    color: #c0e9fc;
}
header div:nth-child(2){
    position: absolute;
    bottom: 70px;
    right: 0;
    color: #4e6280;
    background: #e7e7e7;
    padding: 10px 20px;
    border-top-left-radius: 21px;
    font-size: 15pt;
}
header div:nth-child(2) a{
    color: #d0b895;
    margin: 0 3px;
}
header div:nth-child(2) a:hover{
    text-decoration: underline;
    color: #d0b895;
}
nav{
    background: #4e6280;
}
nav .container ul{
    margin: 0;
}
nav .container ul li{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    border-right: 1px solid #5182a3;
}
nav .container ul:first-child > li:last-child, nav .container ul:last-child > li:last-child{
    border: none;
}
nav .container .column:first-child {
    text-align: center;
    border-bottom: solid 1px #5182a3;
}
nav .container ul li a{
    color: #c0e9fc;
}
nav .container .column:last-child{
    text-align: center;
    border-bottom: none;
}
nav #submenu{
    background: #F5F5F5;
    position: absolute;
    width: 100%;
    z-index: 100;
}
nav #submenu ul{
    display: none;
    text-align: left;
}
nav #submenu ul li{
    display: block;
    border-bottom: 1px solid #1f2427;
    border-right: none;
    padding:0;
}
nav #submenu ul li:last-child{
    border: none;
}
/*nav #submenu ul li:hover{
    color: #fff;
    background:#9F3E38;
}*/

nav #submenu ul li a{
    display: block;
    color: #444;
    padding:10px 12px;
}
nav #submenu ul li a:hover {
    color: #4e6280;
    background:#f9e8d2;
}
#container{
    min-height: 446px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: url(../images/hoja.png);*/
    background-position: center bottom;
    background-repeat: repeat-x;
}
#paginator{
    background: none;
    text-align: center;
}
#paginator ul{
    margin-top: 2.5rem;
    /*background: rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.05);*/
}
#paginator ul li{
    margin-top: 1rem;
    display: inline-block;
    /*padding: 3px 12px;*/
}
#paginator ul .active{
    border: solid 1px #d0b895;
    border-radius:5px;
}
/*#paginator ul li:hover{
    background-color: #F2B591;
}*/
#paginator ul li a{
    /*color: #0E3823;*/
    color:#4e6280;
    font-weight: bold;
    padding: .5rem 2rem;
    display: block;
}
    #paginator ul li a:hover {
        background-color: #def4fc;
        color: #d0b895;
        border-radius:5px;
    }
footer{
    min-height: 70px;
    padding: 25px 0;
    background-color: #1f2427;
    text-align: center;
    color: #def4fc;
}
footer p{
    font-size: 0.875em;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 6px;
}
footer p a{
    color: #4e6280;
}
footer p a:hover{
    color: #fff;
}
footer p img{
    padding-top: 3px;
}
footer p img, footer p a{
    vertical-align: top;
}
a.button {
    background-color: #5182a3;
    border: 1px #4e6280 solid;
}
a.button:hover {
    background-color: #def4fc;
}
/*POR ESTO NO SIRVE MI GALERIA */
/* .modal {
    display: none; Hidden by default 
    z-index: 100;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    top: 50px;
    text-align: center;
}*/
.modal-background{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}
/*fin DEL PORQUE NO SIRVE MI GALERIA*/

/* responsive */

        /* Larger than mobile screen */
        @media (min-width: 40.0rem) {
            .contenido-principal {
                max-width: 70%;
            }
            .wrapper {
                /*margin: 80px 0 350px;*/
            }
            h1 {
                margin-bottom: 4rem !important;
            }
            .bando {
                margin-left: 6rem;
            }
            .lista-bando {
                margin-left: 6rem;
            }
            .lista-doble {
                margin-left: 0;
            }
                .lista-doble li {
                    margin-bottom: 0;
                }
                .lista-doble p {
                    display: inline-block;
                    margin-left:6rem;
                }
                .lista-doble p {
                    margin-bottom: 1rem;
                }
            
            
             /* objetivo */
            .objetivo {
                padding: 4rem 1rem 1rem;
            }
            /* ejemplo */
            .ejemplo {
                padding:6rem;
               
                
                
                
                background-repeat: no-repeat;
                background-position: right;
                background-size: 20rem;
                background-position-y: bottom;
            }
            .ejemplo p:first-child {
                font-weight: bold;
                font-size: 1.75rem;
            }
            .ejemplo p:last-child {
                background-size: 12rem;
            }
            .cuadro-resaltado {
                padding: 6rem;
            }
            
            /* menús de unidades y temas */
            .menu-principal {
                padding: 0 2rem !important;
            }
            nav .container .column:first-child {
                text-align: left;
                border-bottom: 0 !important;
            }
            nav .container .column:last-child {
                text-align: right;
            }
            /* menu accesibilidad */
            header div:nth-child(1){
                text-align: right;
            }
        }


        /* Larger than tablet screen */
        @media (min-width: 80.0rem) {
            
        }

        /* Larger than desktop screen */
        @media (min-width: 120.0rem) {
            .contenido-principal {
                max-width: 60%;
            }
        }

/*Estilos de referencia*/
.vid3{
	width: 100%;
	height: 400px;
}


/*titulos*/
.tituloref {
    display: table;
    white-space: nowrap;
    height: auto;
    line-height: 1;
  }
  .tituloref::after {
    background-position: left 1em top 50%;
  }
  .tituloref::before {
    background-position: right 1em top 50%;
  }
  .tituloref::after, .tituloref::before {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-image: url("../images/lineatit.png");
    background-repeat: no-repeat;
  }
  p.tituloref {
  font-size: 2rem;
	  font-weight:300;
  letter-spacing: 1px;
    color: #4e6280;
    border: none;
    margin: calc(2rem - .14285714em) 0 1rem;
    padding: 0 0;
    line-height: 1.28571429em;
    text-transform: none;
	text-align: center  }

/*Recuadros*/

.sabermas {

	background: url("../images/sabermas.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.sabermas a:link, .sabermas a:hover, .sabermas a:active, .sabermas a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
    
    

}
.sabermas a:hover{
        color:#d0b895 !important;
    }

.reflex {

	background: url("../images/reflex.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.reflex a:link, .reflex a:hover, .reflex a:active, .reflex a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.reflex a:hover{
        color:#d0b895 !important;
    }

.recuerda {

	background: url("../images/recuerda.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.recuerda a:link, .recuerda a:hover, .recuerda a:active, .recuerda a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.reflex a:hover{
        color:#d0b895 !important;
    }


.importante {

	background: url("../images/importante.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.importante a:link, .importante a:hover, .importante a:active, .importante a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
	}
.importante a:hover{
        color:#d0b895 !important;
    }

	

.videoplay {

	background: url("../images/videoplay.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.videoplay a:link, .videoplay a:hover, .videoplay a:active, .videoplay a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.videoplay a:hover{
        color:#d0b895 !important;
    }

.audioplay {

	background: url("../images/audioplay.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.audioplay a:link, .audioplay a:hover, .audioplay a:active, .audioplay a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.audioplay a:hover{
        color:#d0b895 !important;
    }
.pregunta {

	background: url("../images/pregunta.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 50px auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.pregunta a:link, .pregunta a:hover, .pregunta a:active, .pregunta a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.pregunta a:hover{
        color:#d0b895 !important;
    }

.cita {

	background: url("../images/citas.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.cita a:link, .cita a:hover, .cita a:active, .cita a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.cita a:hover{
        color:#d0b895 !important;
    }

.citacolgada {

	background: url("../images/citas.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}


.citacolgada a:link, .citacolgada a:hover, .citacolgada a:active, .citacolgada a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 9px;
	text-decoration: none;
	margin: auto 5px;
}
.citacolgada a:hover{
        color:#d0b895 !important;
    }

.define {

	background: url("../images/define.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}
.define b{
	color: #5182a3;
	}
.define strong{
	color: #5182a3;
	}

.define a:link, .define a:hover, .define a:active, .define a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.define a:hover{
        color:#d0b895 !important;
    }

.lista {

	background: url("../images/lista.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.lista a:link, .lista a:hover, .lista a:active, .lista a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.lista a:hover{
        color:#d0b895 !important;
    }

.apoyo {

	background: url("../images/apoyo.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 16%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.apoyo a:link, .apoyo a:hover, .apoyo a:active, .apoyo a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.apoyo a:hover{
        color:#d0b895 !important;
    }

.sabias {

	background: url("../images/sabias.svg") no-repeat left top rgba(255,255,255,.1);
	background-size: 18%;
	border: solid 2.5px #d0b895;
	min-height:100px;
	margin: 5% auto;
	padding: 5% 5% 5% 15%;
	border-top-right-radius:21px;
    border-bottom-left-radius:21px;
	text-align: justify;
	align-content: center;
	width: 90%;
	}

.sabias a:link, .sabias a:hover, .sabias a:active, .sabias a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}
.sabias a:hover{
        color:#d0b895 !important;
    }
.sabias b{
	color: #5182a3;
	}
.define strong{
	color: #5182a3;
	}
        
/*Fuentes de consulta*/

.biblio {
	background: url("../images/biblio.svg")no-repeat;
	background-size: 56px;
	margin:12px auto;
	alignment-adjust:middle;
	min-height:22px;
	width:90%;
	border-bottom:dotted 1px rgba(0,0,0,.2);
 	padding:5px 10px 5px 40px;
	font-size: .9em;
	}
.biblio a:link, .biblio a:hover, .biblio a:active, .biblio a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}

.vid {
	background: url("../images/video.svg")no-repeat;
	background-size: 56px;
	margin:12px auto;
	alignment-adjust:middle;
	min-height:22px;
	width:90%;
	border-bottom:dotted 1px rgba(0,0,0,.2);
 	padding:5px 10px 5px 40px;
	font-size: .9em;
	}
.vid a:link, .vid a:hover, .vid a:active, .vid a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}

.webp {
	background: url("../images/web.svg")no-repeat;
	background-size: 56px;
	margin:12px auto;
	alignment-adjust:middle;
	min-height:22px;
	width:90%;
	border-bottom:dotted 1px rgba(0,0,0,.2);
 	padding:5px 10px 5px 40px;
	font-size: .9em;
	}
.webp a:link, .webp a:hover, .webp a:active, .webp a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}

.podcast {
	background: url("../images/podcast.svg")no-repeat;
	background-size: 56px;
	margin:12px auto;
	alignment-adjust:middle;
	min-height:24px;
	width:90%;
	border-bottom:dotted 1px rgba(0,0,0,.2);
 	padding:5px 10px 5px 40px;
	font-size: .9em;
	}
.podcast a:link, .podcast a:hover, .podcast a:active, .podcast a:visited{ 
	color: #5182a3;
	font-style: oblique;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 10px;
	text-decoration: none;
	margin: auto 5px;
}

.container-audio {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    margin: 20px auto;
    overflow: hidden;
}
audio {
  width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
    margin: 0;
}
.container-audio .colum1 {
    width: 23px;
    height: 5em;
    border-radius: 5px;
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
}
.container-audio .colum1:last-child {
    margin: 0;
}
.container-audio .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, up, from(#7700aa), to(#8800ff));
    background: linear-gradient(to up, #7700aa, #8800ff);
    position: absolute;
    -webkit-animation: Rofa 10s infinite ease-in-out;
    animation: Rofa 10s infinite ease-in-out;
    bottom: 0;
}

/* MEDIAS */
@media (max-width: 990px) {
	.vid3{
	width: 100%;
	height: 200px;
	}
  }
  @media (max-width:767px) {
	  
	  
	  
	.vid3{
	width: 100%;
	height: 150px;
	}
	  }

  @media (max-width: 600px) {
	.tituloref 
	  {white-space: normal;}
	  
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
    .container {
      padding-right: 2rem;
      padding-left: 2rem;
    }
	.vid3{
	width: 100%;
	height: 100px;
	}
  }
 @media (max-width: 479px) {
	.vid3{
	width: 100%;
	height: auto;
	}
  }

/* ----------- */